{% extends 'layout.html' %}

{% block title %} NAMASTE BANK | Contact Us{% endblock title %}

{% block main %}

<section>
    <div class="container p-1 p-sm-3 text-center">
        <div class="row">
            <div class="col-12">
                <h1>Contact Us</h1><br><hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tenetur maiores esse minima ut molestias veniam consequatur nobis, dignissimos nostrum earum ex officia perspiciatis? Atque officiis illum doloribus ipsam sint!</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi laboriosam at quae quo nobis laudantium architecto perspiciatis rem deserunt aliquid, facere sint. Rerum officia voluptas consequatur eaque quo exercitationem maiores?</p>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae eligendi quam quos libero sint natus, doloribus velit repellat est, nulla inventore odio sapiente officiis delectus provident animi corporis, optio nesciunt.</p>
            </div>
        </div>
    </div>  
</section>

<br>

<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Contact Details</h3>
                <hr><br>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 text-center">
                <h5>Reach Us</h5><hr>
                <p>Helpline Number (India)<br>
                    1234-567-8910 (TOLL FREE)<br>
                    Namaste Bank Pvt. Ltd.<br>
                    support@namastebank.com<br>
                    Address: P-11, Corporate Building,<br>
                    City Center, Durgapur-713212.
                </p>
                
            </div>

            <div class="col-md-4 text-center">
                <h5>Our Branches in India</h5><hr>
                
                        <p>
                            Durgapur<br>
                            Asansol<br>
                            Patna<br>
                            Ranchi<br>
                            Kolkata<br>
                            Bardhaman<br>
                        </p>        
                
                
            </div>

            <div class="col-md-4 text-center">
                <h5>Social Media</h5><hr>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam qui tempora delectus ut aliquid velit voluptatum, accusamus illo, temporibus rerum nihil ratione? Architecto quidem ea voluptatibus nihil voluptatem, odio quam?

                </p>
            </div>
            
        </div>
    </div>
</section>
<br>

{% endblock main %}