{% extends 'layout.html' %}

{% block title %} NAMASTE Bank | Delete Customer Screen {% endblock title %}

{% block main %}

<div class="alert text-center">
    <h2 class="">Delete Customer</h2>
</div>

<div class="d-flex justify-content-center">
    <div class="jumbotron col-lg-8">
        <div class="">
            <div class="row mb-3">
                <div class="col-3"></div>
                <div class="col-3 font-weight-bold">SSN Id</div>
                <div class="col-6">{{ c.ssnid }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-3"></div>
                <div class="col-3 font-weight-bold">Customer Id</div>
                <div class="col-6">{{ c.customerId }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-3"></div>
                <div class="col-3 font-weight-bold">Name</div>
                <div class="col-6">{{ c.customerName }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-3"></div>
                <div class="col-3 font-weight-bold">Age</div>
                <div class="col-6">{{ c.age }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-3"></div>
                <div class="col-3 font-weight-bold">Address</div>
                <div class="col-6">{{ c.address }}</div>
            </div>
        </div>
        <div class="d-flex justify-content-around mt-5">
            <form method="POST" accept="" novalidate>
                <button type="submit" class="btn btn-outline-primary rounded-0 bg-dark
                text-warning px-5">Confirm Delete</button>
            </form>
            <div class="">
                <a href="{{ url_for('home') }}" class="btn btn-outline-dark rounded-0 bg-white
                text-dark px-5">Cancel</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block js %}
<script>
    let ssnid = document.getElementById('customer_ssnid') 
    let name = document.getElementById('name')
    let address = document.getElementById('address')
    let age = document.getElementById('age')

    ssnid.value = '{{ ssnid }}';
    name.value = '{{ name }}';
    address.value = '{{ address }}';
    age.value = '{{ age }}';

    ssnid.disabled = true;
    name.disabled = true;
    address.disabled = true;
    age.disabled = true;
    
</script>
{% endblock js %}
