
{% extends 'layout.html' %}

{% block title %}NAMASTE BANK | Services{% endblock title %}

{% block main %}

<section>
    <div class="jumbotron-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Service we Offer</h3>
                <hr><br>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <p class="text-center">Fixed Deposit<br>
                Insurance<br>
                Loans<br>
                Lockers<br>
            </p>  
        </div>
    </div>
</section>
<br>

{% endblock main %}