<footer class="footer">
    <div class="container-fluid text-center text-white bg-dark py-3">
        <div class="row">
            <div class="col-lg-4">
                <h3 class="text-warning text-capitalize">About Us</h3>
                <p>TCS is founded in 1968.We are the leading Bankers of India.We have partnership with Govt. of India.</p>
                <div>
                    <a href="#" class="fa fa-facebook fa-1x mx-1"></a>
                    <a href="#" class="fa fa-twitter mx-1"></a>
                    <a href="#" class="fa fa-google mx-1"></a>
                    <a href="#" class="fa fa-linkedin mx-1"></a>
                    <a href="#" class="fa fa-youtube mx-1"></a>
                </div>
            </div>
            <div class="col-lg-4">
                <h3 class="text-warning text-capitalize">Service</h3>
                <p>We provide Banking solutions to the world.</p>
            </div>
            <div class="col-lg-4">
                <h3 class="text-warning text-capitalize">Contact Us</h3>
                <p>Helpline Number (Xplore)<br>
                    1800-572-3858 (TOLL FREE)<br>
                    ueries (IT)
                    careers@tcs.com<br>
                    Address: Corporate office,Navi Mumbai(Maharashtra)
                </p>
            </div>
        </div>
        <div class="footer-copyright text-center py-3">
            &copy; 2020 Copyright
        </div>
    </div>
</footer>
