{% extends 'layout.html' %}

{% block title %} NAMASTE Bank | Login {% endblock title %}

{% block main %}
<div class="d-flex justify-content-center mb-5">
    <div class="card mt-5 w-50">
        <div class="card-header">
            <h1 class="card-title text-center">NAMASTE Bank</h1>
        </div>
        <div class="card-body">
            {% from "includes/_form.html" import form_field %}
            <form method="POST" action="{{ url_for('login') }}" novalidate>
                {{ form.hidden_tag() }}
                {{ form_field(form.username, class="form-control") }}
                {{ form_field(form.password, class="form-control") }}
                {{ form_field(form.rememberMe) }}
                <div class="d-flex justify-content-center">
                    {{ form.submit(class="btn btn-outline-primary rounded-0 bg-dark text-warning px-5") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock main %}